<div data-options="dxView : { name: 'home' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
    	<div class="app_navi">
        	<div class="title">公交查询</div>
            <div class="right"><span class="icon" data-bind="event: { dxclick: transition }">/</span></div>
        </div>
        <div class="dx-fieldset">
        	<div class="dx-field">
            	<div class="dx-field-label">线路</div>
                <div class="dx-field-value" data-bind="dxTextBox: { placeholder: '请输入线路名称', value: input.line }"></div>
            </div>
            <div class="button blue" style="margin:5px; float:right;" data-bind="event: { dxclick: searchLine }">搜索</div>
        </div>
    </div>
</div>