<div data-options="dxView : { name: 'transition' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
    	<div class="app_navi">
        	<div class="title">换乘查询</div>
            <div class="left"><span class="icon" data-bind="event: { dxclick: goBack }"><</span></div>
            <div class="right"></div>
        </div>
        <div style="clear:both;"></div>
        <div class="dx-fieldset">
        	<div class="dx-field">
            	<div class="dx-field-label">起点</div>
                <div class="dx-field-value" data-bind="dxTextBox: { placeholder: '请输入起点名称', value: input.start }"></div>
            </div>
            <div class="dx-field">
            	<div class="dx-field-label">终点</div>
                <div class="dx-field-value" data-bind="dxTextBox: { placeholder: '请输入终点名称', value: input.end }"></div>
            </div>
            <div class="button blue" style="margin:5px; float:right;" data-bind="event: { dxclick: placeSearch }">搜索</div>
        </div>
    </div>
</div>